<div class="collapse navbar-collapse navbar-static-top" id="bs-example-navbar-collapse-1">
  <ul class="nav navbar-nav navbar-right">
    <li><%= link_to 'Gadgets', gadgets_path %></li>

    <% if signed_in? %>
      <li><%= link_to 'My Gadgets', gadgets_path(my: true) %></li>
      <li><%= link_to 'Sign Out', sign_out_path, method: :delete %></li>
    <% else %>
      <li><%= link_to 'Sign In', sign_in_path %></li>
      <li><%= link_to 'Sign Up', sign_up_path %></li>
    <% end %>
  </ul>
</div>