<div class="page-header clearfix">
  <h3 class='pull-left'>Gadgets</h3>
  <%= link_to 'Create', new_gadget_path, class: 'btn btn-primary pull-right' if signed_in? %>
</div>


<div class="row" id="gadgets">
  <% @gadgets.each_with_index do |gadget, index| %>
    <div class="col-sm-6 col-md-4 item">
      <div class="thumbnail">
        <%= link_to gadget do %>
          <%= image_tag gadget.image.url(:thumb) %>
        <% end %>
        <div class="caption">
          <h3>
            <%= link_to gadget.name, gadget %>
          </h3>
          <p class="tags">
            <%= gadget.tags.join(', ') %>
          </p>

          <hr>

          <p>
            <%= link_to 'Details', gadget, class: 'btn btn-primary' %>
          </p>
        </div>
      </div>
    </div>
  <% end %>
</div>

<%= paginate @gadgets %>