<div class="page-header clearfix">
  <h3 class='pull-left'><%= @gadget.name %></h3>
  <%= link_to 'Back', gadgets_path, class: 'btn btn-link pull-right' %>
  <%= link_to 'Edit', edit_gadget_path(@gadget), class: 'btn btn-primary pull-right' if signed_in? %>
</div>



<dl class="dl-horizontal">

  <dt></dt>
  <dd><%= image_tag @gadget.image.url(:medium) %></dd>
  <dt><%= t('activerecord.attributes.gadget.tags') %>:</dt>
  <dd><%= @gadget.tags.join(', ') %></dd>
  <dt><%= t('activerecord.attributes.gadget.description') %>:</dt>
  <dd><%= simple_format @gadget.description %></dd>
</dl>
