@import 'font-awesome';

.page-header {
  margin-top: 0px;
}


.navbar-default {
  background-color: #428BCA;
}

.navbar-default .navbar-brand, .navbar-default .navbar-nav > li > a {
  color: white;
}

.page-header  .btn {
  margin-top: 16px;
}


.alert-notice {
  background-color: #d9edf7;
  border-color: #bce8f1;
  color: #31708f;
}