<!DOCTYPE html>
<html>
<head>
  <%= display_meta_tags site: t('site_name') %>
  <%= stylesheet_link_tag "application", media: "all" %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body>

<nav class="navbar navbar-default" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <%= link_to t('site_name'), root_url, class: 'navbar-brand' %>
    </div>
    <%= render 'shared/head_nav' %>
  </div>
</nav>

<div class="container">
  <%= render 'shared/flash' %>
  <%= yield %>
  <hr>

  <footer>
    <p></p>
  </footer>
</div>
</body>
</html>
